@import "react-slideshow-image/dist/styles.css";

#oldSiteImage{
    width: 90%;
    padding-bottom: 5px;
}
a {
    color: white;
}
.lofiImages{
    width: 50%;
}
#colorStyleGuide{
    width: 85%;
}
.slideImageW{
    width: 100%;
}
#phoneSlides{
    width: 20vw;
}
#phoneHifi, #tabletHifi{
    width: 100%;
}
#finalUpdate{
    width: 85%;
}
