@import "react-slideshow-image/dist/styles.css";

a {
    color: white;
}
.sketches{
    width: 80%;
}
.lofiFC, .hifiFC, .updatedhifiFC{
    width: 100%;
}
#hifi2{
    text-align: center;
}
#testingVideos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
