#titleAreaRedesign{
    background-image: url("redesign-blurred.jpg");
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;

}
